<document>
	<searchTemplate theme="light">
		<searchField id="search" />
		<collectionList>
			<shelf>
				<header>
					<title>Most Downloaded Videos</title>
				</header>
				<section id="video_result" />
			</shelf>
			<shelf>
				<header>
					<title>Most Downloaded Music</title>
				</header>
				<section id="music_result" />
			</shelf>
		</collectionList>
	</searchTemplate>
</document>