<document>
	<stackTemplate theme="light">
		<collectionList>
			<grid>
				<section>
					{{#each movies }}
					<lockup data-href-page="years" data-href-page-options="{{toJSON this }}">
						<img class="tile" src="{{poster_url poster_path }}"/>
						<title class="showAndScrollTextOnHighlight">{{ title }}</title>
					</lockup>
					{{/each}}
				</section>
			</grid>
		</collectionList>
	</stackTemplate>
</document>