<document>
	<showcaseTemplate mode="showcase" theme="light">
		<background/>
		<banner>
			<title id="title">Electric Sheep</title>
		</banner>
		<carousel>
			<section>
				{{#each movies }}
				<lockup data-href-page="year-items">
					<img class="tile" src=""/>
					<title class="showAndScrollTextOnHighlight">2009</title>
				</lockup>
				{{/each}}
			</section>
		</carousel>
	</showcaseTemplate>
</document>